{% load static %}


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de Cursos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Sair</a>
            {% else %}
                <a href="{% url 'login' %}">Entrar</a>
                <a href="{% url 'registro' %}">Registrar</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Plataforma de Cursos</p>
    </footer>
</body>
</html>
